.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  margin-top: var(--space-lg);

  & .info {
    font-size: 0.9rem;
    color: var(--color-text-muted);
    font-weight: 600;
  }
}
